/* Small devices (landscape phones, 700px and up) */
@media (max-width: 700px) {  
  html {font-size:60%;} 
}

/*--------------------------------------------------*/

body {
   	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
  	background-color: #000000;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}

.three-by-two.aspect-ratio { padding-bottom: 66.666% }
.four-by-three.aspect-ratio { padding-bottom: 75% }
.sixteen-by-nine.aspect-ratio { padding-bottom: 56.25% }
.square.aspect-ratio { padding-bottom: 100% }

.main {
	background-image: url('../images/background.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}

.container {
	width: 100%;
	position: relative;
}

.content {
    position: absolute;
    top: 0;  bottom: 0;  left: 0;  right: 0;
}

.field-scat {
	width: 50%;
	float: left;
}

.field-sample {
	width: 45%;
	float: right;
}

.field-status {
	width: 45%;
	float: right;
}

.field-footer {
	width: 100%;
	float: left;
}

.helptext {
	font-size: 0.8rem;
	text-align: center;
	color: #cccccc;
	padding-top: 5px;
}

.sample {
	filter: contrast(200%);
	width: 35%;
	margin-top: 19.5%;
	margin-left: 34%;
}

#image {
	display: none;
}

#footer {
	color: white;
	font-size: 1.5rem;
	text-align: center;
	padding-top: 1%;
}

#message {
	text-align: center;
	font-size: 3rem;
	font-weight: bold;
	color: #00FF00;
	padding-top: 5%;
}

#scattering {
	filter: contrast(200%);
	width: 60%;
	padding-left: 32.5%;
	padding-top: 24%;
}